.btn{     
    border: none;
    border-radius: 100em;
    color: white;
    background:$gradient;
    padding: 15px;
    font-size: 15px;
    
    
    &:hover{   
        @include shadaw;     
        opacity: 0.5;
    }
}
.btn-acceuil{
    width: 200px;
    
}

//   //
.btn-commande{
    align-self: center;
    text-align: center;
    width: 150px;
    padding: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-direct{
    border: none;
    border-radius: none;
    color: black;
    background:transparent; 
}