


.fa-list-ul, .fa-mobile-alt{
    margin-left: 5px;
    margin-right: 10px;
    color: gray;
}
.fa-store{
    margin-left: 5px;
    margin-right: 5px;
    color: $colour-primary;
}
.fa-map-marker-alt{
    margin-right: 10px;
    font-weight: 900;
    margin-left: 5px;

}

.fa-heart { 
    font-size: 23px;
    
}
.fa-heart:hover::before{
    background-image:$gradient;
	color:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    font-weight: 900;
    border: white;
}


     
.fa-utensils{  
    padding-right: 20px;
    font-size:18 px;  
    color: white;
    
    
}
.fa-hands-helping{  
    padding-right: 14px;         
    font-size:18 px;  
    color: white;
}
.numero{
    border: 1px solid transparent;
    border-radius: 50% ;
    padding:8px 11px 8px 11px;
    font-size: 10px;
    background-color: $colour-primary;
    margin-left:-35px;
    margin-right: 10px;
    text-align: center;
    color:white;
}


// resterant//
.fa-check-circle{
    opacity: 0};






.fa-heart_resterant{    
    font-size: 23px;   
    color: black;
    
}


.fa-arrow-left{   
    font-size: 20px;
    
}