label{   
    align-self: center;
    text-align: center; 
    font-size: 18px; 
    color:black;       
}
.menu__input{      
    width: 200px;      
    border: none;
    text-align: center;
    align-self: center;
    background-color:$colour-lavend;
}