@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header__logo, .footer__header {
  font-family: "Shrikhand";
}

::placeholder {
  letter-spacing: 1.5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
}

h1 {
  justify-self: center;
  text-align: center;
  padding: 19px;
}

h2 {
  font-size: 16px;
  align-self: flex-start;
}

h3 {
  font-size: 14px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.head__img {
  border-radius: 0;
  height: 400px;
}

.h1__resterant {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

span {
  align-self: flex-start;
  padding-left: 35px;
  text-transform: uppercase;
}

span:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #99e2d0;
}

.header {
  width: 100%;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  /*@mixin vertical-center; */
}
.header__logo {
  justify-self: center;
  width: 200px;
  height: 30px;
  object-fit: fill;
  padding: 20px;
}

.header__return {
  justify-content: left;
  padding-right: 60px;
  padding-left: 10px;
}

form {
  width: 100%;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu__header {
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: #e1e1e4;
}
.menu__p {
  align-self: center;
  text-align: center;
  font-size: 17px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__ul {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.nav__li {
  width: 240px;
  padding: 16px;
  margin: 10px;
  list-style-type: none;
  list-style-position: inside;
  border: 3px solid transparent;
  box-shadow: 1px 1px 1px 1px #708090;
  border-radius: 15px;
  background-color: #F0FFF0;
}
.nav__li:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 0.3s;
}
.nav__a {
  font-size: 14px;
  margin-left: 5px;
  text-decoration: none;
  color: #000000;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f8f6;
}

.contener {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main_resterant {
  background-color: #f3f8f6;
  border-top: 1px solid black;
  border-radius: 55px 55px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -50px;
}

.contener_resterant {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section {
  width: 80%;
  height: 280px;
  margin: 20px 0 20px 0;
  border-radius: 1em;
  box-shadow: 1px 1px 1px 1px #708090;
}

.section-accueil:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 0.3s;
}

.section-resterant {
  width: 100%;
  height: 350px;
  box-shadow: none;
  border-radius: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.article {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article__titre {
  width: 100%;
  padding: 10px;
}

.article_resterant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  border-radius: 1em;
  padding: 15px;
  background-color: snow;
}
.article_resterant .article__titre {
  width: 100%;
}
.article_resterant .article__p {
  font-weight: bold;
  align-self: flex-end;
  padding: 10px;
}

.btn {
  border: none;
  border-radius: 100em;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  margin: 20px 0 30px 0;
}
.btn:hover {
  opacity: 0.5;
}

.btn-acceuil {
  width: 190px;
}

.btn-commande {
  width: 170px;
  padding: 15px;
}

.fa-list-ul, .fa-mobile-alt {
  margin-left: 5px;
  color: gray;
}

.fa-store {
  margin-left: 5px;
  color: #9356DC;
}

/*.coeur-transpt{
    color:linear-gradient($colour-secondary,$colour-primary);
    visibility:visible;
    font-size: 23px;
    align-self: center;
    .coeur-transpt:hover{
        visibility: hidden;
        font-size: 23px;
    }
}
.coeur-colore{
    color: $gradient;
    visibility:hidden;
    font-size: 0;
    align-self: center;
    .coeur-colore:hover{
        visibility: visible;
        font-size: 23px;
    }
}*/
.fa-heart {
  color: #FF79DA;
  background-color: white;
  font-size: 23px;
}

.fa-heart::before {
  content: "";
  font-weight: bold;
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  background-color: white;
  color: #9356DC;
  border: white;
}

.fa-utensils {
  padding-right: 20px;
  font-size: 18 px;
  color: white;
}

.fa-hands-helping {
  padding-right: 14px;
  font-size: 18 px;
  color: white;
}

.numero {
  border: 1px solid transparent;
  border-radius: 100%;
  padding: 12px 15px 12px 15px;
  font-size: 10px;
  background-color: #9356DC;
  margin-left: -31px;
  margin-right: 5px;
  text-align: center;
  color: white;
}

.fa-heart_resterant {
  font-size: 23px;
  color: black;
}

.fa-arrow-left {
  font-size: 20px;
}

.img-accueil {
  height: 160px;
  border-radius: 20px 20px 0px 0px;
}

label {
  align-self: center;
  text-align: center;
  font-size: 18px;
  color: black;
}

.menu__input {
  width: 200px;
  border: none;
  text-align: center;
  align-self: center;
  background-color: #e1e1e4;
}

.footer {
  width: 100%;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__header {
  padding: 20px;
  font-size: 25px;
  color: white;
}
.footer__ul {
  padding-left: 20px;
}
.footer__li {
  margin: 10px 0 10px 0;
  list-style-type: none;
}
.footer__a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav__ul {
    align-self: flex-start;
    padding-left: 20px;
  }

  .contener {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  section {
    width: 350px;
  }

  .contener_resterant {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .section-resterant {
    width: 50%;
  }

  span {
    align-self: center;
  }

  .article_resterant {
    width: 320px;
  }
}
@media screen and (min-width: 992px) {
  form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .menu {
    width: 70%;
    justify-content: flex-start;
  }

  .nav {
    width: 30%;
  }

  main {
    width: 100%;
  }

  .contener {
    width: 100%;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-evenly;
  }

  section {
    width: 23%;
    height: 280px;
  }

  h4 {
    padding-left: 40px;
  }

  .footer__ul {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .contener_resterant {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
    align-items: center;
  }

  .section-resterant {
    width: 31%;
  }

  .article_resterant {
    width: 95%;
  }

  h2 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  span {
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
