
.fa-list-ul, .fa-mobile-alt{
    margin-left: 5px;
    margin-right: 10px;
    color:$colour-gray;
}
.fa-store{
    margin-left: 5px;
    margin-right: 5px;
    color: $colour-primary;
}
.numero{    
    border-radius:$radu-nav;
    padding:8px 11px 8px 11px;
    font-size:nth($font-size, 5);
    background-color: $colour-primary;
    margin-left:-35px;
    margin-right: 10px;
    text-align: center;
    color:$colour-text-fonce;
}

.fa-heart { 
    font-size:nth($font-size, 4);
    align-self: center;
    color:$colout-text-clair;   
    z-index: 1;
    transition:all 500ms linear; /*background-image linear 3s;*/
    &:active{
        background-image:$gradient-linear;
        color:transparent;
        background-clip:text;
        -webkit-background-clip: text;
        font-weight: 900;
        border:$colour-text-fonce;
    }
    @include desktop{
        &:hover{
        background-image:$gradient-linear;
        color:transparent;
        background-clip:text;
        -webkit-background-clip: text;
        font-weight: 900;
        border:$colour-text-fonce;}
    }    
    
}
.fa-utensils{  
    padding-right: 20px;
    font-size:nth($font-size, 2); 
    color: $colour-text-fonce;
    
    
}
.fa-hands-helping{  
    padding-right: 14px;         
    font-size:nth($font-size, 2);  
    color:$colour-text-fonce;
}

// icone de la pages menus //

.fa-map-marker-alt{    
    font-weight: 900;
    font-size:nth($font-size, 2);
    
}


.fa-check-circle{  
    text-align: center;
    margin-top: 15px;   
    font-size:nth($font-size, 4);
    border-radius: 50%;
    background-color:$colour-accent;          
    color:white;
    transform:translateX(0) rotate(0);
    opacity: 0;
    transition: transform 2s linear;   
    
}

     











