.article-menus{  
    overflow: hidden;   
    width: 95%; 
    height: 60px;    
    position: relative;  
    @extend %vertical-center;
    justify-content: space-between;
    background-color:$colour-text-fonce;     
    border-radius:  1em;   
    @include tablette{
        width: 100%; 
    }  
    @include desktop{
        width: 98%; 
    }
    &__blok{
        width: 100%;        
        @extend %vertical-center;
        justify-content: space-between;
        padding: 10px;
    }
    &__p1{        
        font-size: nth($font-size, 6);
        
    }
    &__titre{
        font-size: nth($font-size, 1);
    } 
}

.article-menus {
    .article-menus__slider{        
        background-color:$colour-accent;    
        width: 80px; 
        height: 60px;
        position:relative ;    
        text-align:center;
        border: 1px solid $colour-accent;
        border-radius: 0px 15px 15px 0px;
        transform-origin: right;         
        transition-delay: 500ms;
        transform:translate(80px);
        transition: transform 1s linear;    
    }
    .fa-check-circle{           
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        border-radius: 50%;
        background-color:$colour-accent;        
        color: $colour-text-fonce;        
        transform:translateX(0) rotate(0);
        opacity: 1;
        transition: transform 1s linear;
    }     
    .article-menus__p1{   
        width: 100%;
    } 
    strong{
        transform: translate(60px);
        transition: transform 1s linear;      
    }   
    &:active{
        .article-menus__slider{
            transform:translate(0px);        
        }
        .fa-check-circle{
            transform:translate(-10%) rotate(1turn);
        }         
        .article-menus__p1{   
            width: 60%;            
            transition: width 1s linear;              
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;     
                  
        } 
        strong{
            transform: translate(-20px);
            
        }
    }
    @include desktop{
        &:hover{
            .article-menus__slider{
                transform:translate(0px);        
            }
            .fa-check-circle{
                transform:translate(-10%) rotate(1turn);
            }         
            .article-menus__p1{   
            width: 60%; 
            transition: width 1s linear;              
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;     
                
            } 
            strong{
                
                transform: translate(-20px);
            }
        }
    }
    
    
} 
       
