.article-menus{
    width: 90%; 
    height: 60px;    
    position: relative;  
    @extend %vertical-center;
    justify-content: space-between;
    background-color:$colour-text-fonce;     
    border-radius:  1em;     
    &__blok{
        width: 100%;        
        @extend %vertical-center;
        justify-content: space-between;
        padding: 10px;
    }
    &__p1{
        font-size: 16px;
    }
    
    &__titre{
       font-size: 16px;
    } 
    
   /* &__slider{
        text-align:center;   
        background-color: $colour-accent;
        border-radius:15px 0px 0px 15px ;
        height: 60px;
        opacity: 0;     
        transform: scaleX(0px) ;
        transition: all 2s linear infinity;   
    }*/
}
/*strong{
    transform: translateX(0px) ;
    transition: all 2s linear;  
}*/
