

@media screen and (min-width:768px) and (max-width:991px){
    .header{         
        justify-content: space-around;
        &__logo{
            justify-self: center;            
        }           
        &__return{
            justify-self: left ;            
        } 
    }  
    .nav__ul{ 
        align-self: flex-start; 
        padding-left: 20px;
    } 
    h2{
        padding-left: 20px;
    }
    .section-accueil{
        width: 100%;     
        height:650px;              
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;       
        justify-content:space-around;
        
    }
    .article{
        width: 350px; 
            
    }

    //resterant//
    
    .section-resterant{
        width:100% ;   
        height: auto;     
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .article__h2{
        padding-left:0;
    }
    .article-resterant{
        width:40%;
        &__titre2{
        width: 250px;
        }
    }
    span{
        align-self: center;        
    }  
   .article-resterant:nth-child(3){       
        justify-self: center;
    }
}

@media screen and (min-width:992px){
   
    .nav{
        width: 100%;
        height: 200px;
        flex-direction: column;
        justify-content: space-around;
        &__ul{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        }
    }
    
    h2{
        align-self: center;
        padding: 30px;
    }
    main{
        width: 100%;
    }
    .section-accueil{ 
        width: 100%;         
        flex-wrap:none;   
        flex-direction: row;
        justify-content:space-evenly;
         
    }
    .article{
        width: 40%;      
        
       
    }
    h4{
       padding-left: 40px; 
    }
    .footer__ul{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
    }
  
    /*style page  resterant*/
    
    
    .header{
        width: 100%;
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
        &__logo{
            justify-self: center;
            
        }           
        &__return{
            justify-self: left ;
            
        } 
    }  
    .section-resterant{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .article-resterant{        
        .article__titre2 { 
          align-items: center;
        }          
        .article__h2{
            align-self:  flex-start;
            font-size: 16px; 
            padding: 0;
            
        }
    }  
    .entete__img{
        height: 650px;
    }   
    
}


