.trois{
    width: 100%;
    @extend %horizontal-center;
    justify-content: space-evenly;  
    @include tablette{  
        width: 100%;
        height: auto; 
        display: flex;  
        flex-direction: row;           
        flex-wrap: wrap;
        justify-content: space-around;       
    } 
   @include desktop{
        width: 100%;
        height: auto; 
        display: flex;  
        flex-direction: row;           
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }        

    
}
.section-menus{
    width: 90%;    
    height: 280px;    
    @extend %horizontal-center;
    justify-content: space-around;
    animation: defiler 1000ms linear;       
    @include tablette{ 
        width:48%;
        
    }  
    @include desktop{ 
        width:33%;
        
    }     
    &__titre{
        align-self: flex-start;
        padding: 20px;
        font-size:nth($font-size, 1);
        font-weight: normal;
        text-transform: uppercase;
        
        &::after{
            content: "";
            display: block;    
            width: 60%;
            height: 3px;
            background: $colour-accent 
        }    
    } 

}    


    @keyframes defiler{
        0% {
            transform: translateY(100%);        
        }
        100% {
            transform: translateY(0%);
        }
    }

