/*@mixin localise-pading($top:$pading-top, $right:$pading-right, $bottom:$pading-right, $left:$pading-left) {
    padding:$top $right $bottom $left   ;
    
}*/

/*@mixin heading-bshadow($colour:$colour-gray, $shadow-size: $heading-shadow-size){
  box-shadow: $shadow-size $shadow-size $shadow-size $colour;
}*/

@keyframes defiler{
    0% {
        transform: translateY(100%);        
    }
    100% {
        transform: translateY(0%);
    }
}
