@mixin vertical-center {
    display: flex; 
    flex-direction: row;   
    align-items: center;    
}
@mixin horizontal-center {
    display: flex;
    flex-direction: column;     
    align-items:center;
}
@mixin shadaw{
    box-shadow: 0px 1px 1px 1px #cdcdcd;
}
