$colout-text-clair:#000;
$colour-text-fonce:#fff;
$colour-gray:#727171;

$colour-smoke:#EFEFEF;
$colour-lavend:#e1e1e4;

$colour-primary:#9356DC;
$colour-secondary: rgba(255,121, 218);	
$colour-accent:#99e2d0;
$colour-loew:	#FF0000;
$colour-noew:#0000FF;
$colour-fontfoo:#363636;
$colour-flot:#2E8B57;

$heading-shadow-size: 0.55rem;
$gradient-linear: linear-gradient($colour-secondary, $colour-primary);
$gradient-rad:radial-gradient(closest-side, $colour-loew, $colour-noew);

$border-btn:100em;
$radu-nav: 50% ;
$background:$colour-secondary;
