$colour-primary:#9356DC;
$colour-secondary: #FF79DA;
$colour-accent:#99e2d0;
$colour-gains : #DCDCDC;
$colour-silver:#C0C0C0;
$colour-black:#000000;
$colour-lavend:#E6E6FA;
$colour-Honey:#F0FFF0;
$colour-shaw:#708090;


$direct:column;

