
$colour-smoke:#EFEFEF;
$colour-primary:#9356DC;
$colour-secondary: #FF79DA;
$colour-accent:#99e2d0;
$gradient: linear-gradient($colour-secondary, $colour-primary);

$colour-lavend:#e1e1e4;
$b-radius: 20px; 
$colour-Honey:#F5f5f5;
$colour-gains : #DCDCDC;
$colour-silver:#C0C0C0;
$colour-black:#000000;


$colour-shaw:#708090;


$direct:column;

