.footer{ 
    width: 100%;    
    background-color:#363636;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    
    &__header{
        padding: 20px;
        font-size: 25px;
        color: white;

    }
     
    &__ul{
        padding-left: 20px;
    }
    &__li{
        margin: 10px 0 10px 0;
        list-style-type: none;
    }
    &__a{              
        text-decoration: none;
        color: white;
    }
}
    


    
    
    
    
    
