.header{ 
    width: 100%;
    box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    display: flex;    
    align-items: center;    
    justify-content: center;
    /*@mixin vertical-center; */       
    &__logo{
        justify-self: center;
        width: 200px;
        height: 30px;  
        object-fit: fill; 
        padding: 20px;    
    }        
}
//         //
.header{     
    &__return{
        justify-content: left ;
        padding-right: 60px;
        padding-left: 10px;
    } 
}  