.loader{
    background:$gradient-rad;
    @extend %vertical-center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;left: 0; bottom: 0;right: 0;
    position: absolute;
    vertical-align: middle;
    animation: deroule 3000ms linear forwards; 
    &__quart{
        border-radius: 100%;
        border: 6px solid rgba(255, 255, 255, 0.4);
        position: relative;
        width: 80px;
        height: 80px;
        
        &::after{
            content: "";
            position: absolute;            
            width: 80px;
            height: 80px;
            top: -6px;left:-6px; bottom: -6px;right: -6px;        
            border-radius: 100%;
            border: 6px solid transparent;
            border-top-color:$colour-text-fonce;
            animation:spin 5000ms linear infinite ;
            margin: auto;
        }
    }
    &__titre{
        margin-left: 20px;
        font-size: nth($font-size, 7);
        color: $colour-text-fonce;
    }
  
     
}


.contener{   
   height: auto;    
   width: auto;  
   transform-origin: bottom;    
    animation: bill 3000ms linear forwards  ; 
}

@keyframes spin{
    0% {
        transform:rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes deroule{
    0% {     
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}   
@keyframes bill{
    0% {
        transform:translateY(100%);
        opacity: 1;
    }
    100%{
        transform:translateY(0%);
        opacity: 1;
    }
}
       