.localise{                
    width: 100%;    
    align-self: center; 
    text-align: center;                    
    padding: 15px 0 15px 0; 
    background-color:$colour-lavend;  
    box-shadow: 0px 2px 6px 1px black;  
    &__label{   
        align-self: center;
        text-align: center; 
        font-size: 18px; 
        color:black; 
        margin-right: 10px;     
    }
    &__input{      
        width: 200px;     
        border: none;
        text-align: center;
        align-self: center;
        background-color:$colour-lavend;
    }
}            
