.main{
    width: 100%;
    height: auto;
    @include horizontal-center;    
    justify-content: space-between;    
    background-color:$colour-smoke;
    padding-top: 20px;
    padding-bottom: 20px;
    &__h2{          
        font-weight:bolder;  
        align-self: flex-start;
        padding-left: 40px;
        padding-bottom: 10px;  
        padding-top: 20px;
    }
        
}

//resterant//
.main_resterant{
    
    @include horizontal-center;    
    justify-content: space-evenly;    
    background-color:#EFEFEF;
}


