

.section-accueil{
    width: 100%; 
    height: auto;   
    @include horizontal-center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.section-resterant{
    width: 100%; 
    height: auto;   
    @include horizontal-center;
    justify-content: space-evenly;
}






