section{    
    width: 85%;      
    height: 280px;
    margin: 20px 0 20px 0;  
    border-radius: 1em;    
    @include shadaw;
}
// resterant//
.section_resterant{
    width: 100%;
    height: 300px;
    box-shadow: none;
    border-radius:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


